@import url(//db.onlinewebfonts.com/c/1dd8d81c8ec73dac8887c1243a771e56?family=LifeCraft);
@import url(//db.onlinewebfonts.com/c/4d83027149f6eac947091989b45a7da4?family=FrizQuadrata);

:root {
    --dcolor: #111;
    --deathknight: #C41E3A;
    --demonhunter: #A330C9;
    --druid: #FF7C0A;
    --evoker: #33937F;
    --hunter: #AAD372;
    --mage: #3FC7EB;
    --monk: #00FF98;
    --paladin: #F48CBA;
    --priest: #F8F8F8;
    --rogue: #FFF468;
    --shaman: #0070DD;
    --warlock: #8788EE;
    --warrior: #C69B6D;
    --poor: #9D9D9D;
    --common: #F8F8F8;
    --uncommon: #1eff00;
    --rare: #0070dd;
    --epic: #a335ee;
    --legendary: #ff8000;
    --artifact: #e6cc80;
    --heirloom: #00ccff;
}


.deathknight:not([data-theme=light]) {
    color: var(--deathknight);
}
.deathknight:not([data-theme=dark]) {
    background-color: var(--deathknight);
    color: var(--dcolor);
}

.demonhunter:not([data-theme=light]) {
    color: var(--demonhunter);
}
.demonhunter:not([data-theme=dark]) {
    background-color: var(--demonhunter);
    color: var(--dcolor);
}

.druid:not([data-theme=light]) {
    color: var(--druid);
}

.druid:not([data-theme=dark]) {
    background-color: var(--druid);
}

.evoker:not([data-theme=light]) {
    color: var(--evoker);
}

.evoker:not([data-theme=dark]) {
    background-color: var(--evoker);
}

.hunter:not([data-theme=light])  {
    color: var(--hunter);
}

.hunter:not([data-theme=dark])  {
    background-color: var(--hunter);
}

.mage:not([data-theme=light])  {
    color: var(--mage);
}

.mage:not([data-theme=dark])  {
    background-color: var(--mage);
}

.monk:not([data-theme=light])  {
    color: var(--monk);
}

.monk:not([data-theme=dark])  {
    background-color: var(--monk);
}

.paladin:not([data-theme=light])  {
    color: var(--paladin);
}

.paladin:not([data-theme=dark])  {
    background-color: var(--paladin);
}

.priest:not([data-theme=light])  {
    color: var(--priest);
}

.priest:not([data-theme=dark])  {
    background-color: var(--priest);
}

.rogue:not([data-theme=light])  {
    color: var(--rogue);
}

.rogue:not([data-theme=dark])  {
    background-color: var(--rogue);
}

.shaman:not([data-theme=light])  {
    color: var(--shaman);
}

.shaman:not([data-theme=dark])  {
    background-color: var(--shaman);
}

.warlock:not([data-theme=light])  {
    color: var(--warlock);
}

.warlock:not([data-theme=dark])  {
    background-color: var(--warlock);
}

.warrior:not([data-theme=light])  {
    color: var(--warrior);
}

.warrior:not([data-theme=dark])  {
    background-color: var(--warrior);
}

.poor:not([data-theme=light])  {
    color: var(--poor);
}

.poor:not([data-theme=dark])  {
    background-color: var(--poor);
}

.common:not([data-theme=light])  {
    color: var(--common);
}

.common:not([data-theme=dark])  {
    background-color: var(--common);
}

.uncommon:not([data-theme=light])  {
    color: var(--uncommon);
}

.uncommon:not([data-theme=dark])  {
    background-color: var(--uncommon);
}

.rare:not([data-theme=light])  {
    color: var(--rare);
}

.rare:not([data-theme=dark])  {
    background-color: var(--rare);
}

.epic:not([data-theme=light])  {
    color: var(--epic);
}

.epic:not([data-theme=dark])  {
    background-color: var(--epic);
}

.legendary:not([data-theme=light])  {
    color: var(--legendary);
}

.legendary:not([data-theme=dark])  {
    background-color: var(--legendary);
}

.artifact:not([data-theme=light])  {
    color: var(--artifact);
}

.artifact:not([data-theme=dark])  {
    background-color: var(--artifact);
}

.heirloom:not([data-theme=light])  {
    color: var(--heirloom);
}

.heirloom:not([data-theme=dark])  {
    background-color: var(--heirloom);
}